{% extends 'base.html' %}
{% load static %}

{% block title %}食事記録サイト{% endblock %}

    <body>
    {% block header%}
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3 my-style">食生活を見直そう</span>
                <span class="site-heading-lower my-style">食事の記録</span>
            </h1>
        </header>
    {% endblock %}

    {% block contents %}
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/assets/img/intro.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">このサイトの利用のしかた</span>
                            <span class="section-heading-lower">食事を記録しよう！</span>
                        </h2>
                        <p class="mb-3">今日の食事を記録することで、自分がどれくらい健康な食生活を送れているかを見てみよう！また、レシピを乗せておけば自分だけのレシピ集に！さらにどこで買った、いつ食べたかも記録できます！無料ですべて利用できるサイトとなっております！</p>
                        {% if user.is_authenticated %}
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl text-uppercase {% block active_record_list %}{% endblock %}" href="{% url 'record:meal_list' %}">記録一覧はこちら</a></div>
                        {% else %}
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl text-uppercase" href="{% url 'account_signup' %}">新規会員登録はこちら</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">健康な食生活とは？</span>
                                <span class="section-heading-lower">一日3食</span>
                            </h2>
                            <p class="mb-0">栄養素のバランスがとれた食事を、腹八分目を心がけ1日3食取り入れることです。 1日3食食べることは活動に必要なエネルギーや栄養素を補うだけでなく、生活リズムを整える点でも重要です。 健康維持のためには食事からの摂取エネルギーと1日の活動で使われる消費エネルギーのバランスになります。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}

    </body>
</html>
