{% extends 'base.html' %}
{% load static %}

{% block title %}食事記録詳細{% endblock %}

{% block active_meal_list %}{% endblock %}

{% block contents %}
<div class="container text-faded">
    <div class="my-div-style w-100">

        <div class="row">

            <div class="col-3">
                <strong>ユーザ名</strong>
            </div>
            <div class="col-9">
                {{ object.user }}
            </div>
        </div>

        <hr>

        <div class="row">

            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-9">
                {% if meal.photo1 %}
                    <img src="{{ object.photo1.url }}" height="200" style = "margin-bottom : 5px"/>
                {% endif %}
                {% if meal.photo2 %}
                    <img src="{{ object.photo2.url }}" height="200" style = "margin-bottom : 5px"/>
                {% endif %}
                {% if meal.photo3 %}
                    <img src="{{ object.photo3.url }}" height="200" style = "margin-bottom : 5px"/>
                {% endif %}
                {% if meal.photo4 %}
                    <img src="{{ object.photo4.url }}" height="200" style = "margin-bottom : 5px"/>
                {% endif %}
            </div>
        </div>

        <hr>

                <div class="row">
            <div class="col-3">
                <strong>コメント</strong>
            </div>
            <div class="col-9">
                {{ object.content|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        {% if request.user == object.user and user.is_authenticated %}
            <a class="btn btn-success mt-5 mb-3" href="{% url 'record:meal_update' object.pk %}">編集</a>
            <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'record:meal_delete' object.pk %}">削除</a>
        {% endif %}
        <a class="btn btn-secondary mt-5 ml-2 mb-3" style = "float:right" href="{% url 'record:meal_list' %}">一覧</a>
        <a class="btn btn-secondary mt-5 ml-2 mb-3" style = "float:right" href="{% url 'record:index' %}">みんなの投稿</a>
    </div>
</div>
{% endblock %}