{% extends 'base.html' %}
{% load static %}

{% block title %}食事記録一覧{% endblock %}

{% block active_meal_list %}{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1>{{ request.user }}の記録一覧</h1>
                        <div class="cta-inner bg-faded rounded">

                            <div class="my-div-style w-100">
                                <div class="col-lg-8 col-md-10 mx-auto">

                                    <div class="clearfix" style = "float:right">
                                        <a class="btn btn-primary" style = "margin-bottom: 3rem" href="{% url 'record:meal_create' %}">＋新規作成</a>
                                    </div>
                                    {% for meal in meal_list %}
                                        <div class="post-preview" style = "clear:both">
                                            <a href="{% url 'record:meal_detail' meal.pk %}">

                                              <h2 class="post-title" style="color:#212529">
                                                {{ meal.title }}
                                              </h2>
                                              {% if meal.photo1 %}
                                                  <img src="{{ meal.photo1.url }}" width="280" height="200" style = "margin-bottom : 5px"/>
                                              {% endif %}
                                              {% if meal.photo2 %}
                                                  <img src="{{ meal.photo2.url }}" width="280" height="200" style = "margin-bottom : 5px"/>
                                              {% endif %}
                                              {% if meal.photo3 %}
                                                  <img src="{{ meal.photo3.url }}" width="280" height="200" style = "margin-bottom : 5px"/>
                                              {% endif %}
                                              {% if meal.photo4 %}
                                                  <img src="{{ meal.photo4.url }}" width="280" height="200" style = "margin-bottom : 5px"/>
                                              {% endif %}
                                            </a>
                                            <p class="post-meta">{{ meal.created_at }}</p>
                                        </div>
                                        <hr>
                                    {% empty %}
                                        <p>日記がありません。</p>
                                    {% endfor %}

                                    <!-- ページネーション処理 -->
                                    {% if is_paginated %}
                                        <ul class="pagination">
                                            <!-- 前ページへのリンク -->
                                            {% if page_obj.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                            {% endif %}

                                            <!-- ページ数表示 -->
                                            {% for page_num in page_obj.paginator.page_range %}
                                                {% if page_obj.number == page_num %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            <!-- 次ページへのリンク -->
                                            {% if page_obj.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}